       /* ESTILOS PRINCIPALES */
       body{background-color: black;
        padding: 0.5%;
        font-family: 'Square Peg', cursive;
    color: black;
    
    }
    #CajaPrincipal{
        color: white;
        font-size: x-large;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "barra barra barra barra" 
    "es es en en" 
    "es es en en" 
    "es es en en" 
    ;
    }
    .español{
    grid-area: es;
    background-color: rgba(151, 101, 36, 0.774);
    max-height: 105%;
        height: 100% !important;
    }
    .ingles{
    grid-area: en;
    background-color: rgb(6, 6, 61);
    max-height: 100%;
        height: 100% !important;
    }
    .BarraNav{
        grid-area: barra;
        max-height: 25%;
        height: 25% !important;
    }
    .container-fluid{
        max-height: 100%;
    height: 800px !important;
    }
    h1{
        text-align: center;
    }
    
    h6{
        text-align: center;
        color: white;
    }
    .footer{
        width: 100%;
        height: 100% !important ;
        background-color: black;
        font-family: 'Courier New', Courier, monospace !important;
    }